{% extends 'layout.html' %}

{% block title %} Inicio{% endblock title %}

{% block content %}

    <h1>Bienvenido!</h1>

    <p>Esta es una mini app donde encontrarás datos sobre cualquier Pokémon que desees buscar(como su peso, altura, tipo, sus habilidades e incluso sus estadísticas base, entre otros). Solo necesitarás saber su nombre o su número perteneciente en la Pokédex Nacional y así podrás acceder a su información.</p>
    <br>
    <p><strong>Habilidades:</strong> también podrás buscar información sobre cualquier habilidad que exista en el juego.</p>

    <p><strong>Bayas:</strong> alguna que otra baya/berrie que tengas en mente? También la podrás encontrar aqui! con su número de identificación o nombre en sí.</p>

    <p><strong>Objetos:</strong> si necesitas saber alguna información sobre algún objeto ya sea consumible (como pociones, vitaminas, carameloraros, piedras evolutivas, etc) o no (objetos clave) dentro del juego, también podrás buscar sobre ello!.</p>

    <p><strong>MTs/MOs:</strong> deseas investigar un poco sobre alguna Máquina Técnica o Movimiento? tendrás que buscarla usando su identificador (varían de una versión a otra, por lo que no es seguro que una MT o MO específica corresponda a un solo número identificatorio.).</p>
    <br>
    <strong>Nota: algunas informaciones serán mostradas en pantalla en inglés así como también al realizar las búsquedas deberás realizarlas con su nombre respectivo en inglés😬.</strong>


{% endblock %}
